.viewTypeBtn {
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 7px;
  padding: 0px 5px;
  box-shadow: inset 2px 2px 10px rgba(255, 255, 255, .1), inset -5px -8px 8px rgba(0, 0, 0, .2);
}

.viewBtnActive {
  box-shadow: 0 0 10px 0 #05055c94 inset;
}