.profileImage {
   width: 180px;
   height: 180px;
   background: var(--blue);
}

@media only screen and (max-width: 987px) {
   .profileImage {
      width: 120px;
      height: 120px;
   }
}

@media only screen and (max-width: 767px) {
   .profileImage {
      width: 150px;
      height: 150px;
   }
}