.rgbBackground {
  background-color: linear-gradient;
}

.status_wrapper {
  background: linear-gradient(45deg, #aa23e4, #ce3168, #aa23e4);
  border: 2.5px solid transparent;
}

.status_image_wrapper {
  background: linear-gradient(45deg, #ffffff, #f4f4f4);
  border: 1px solid #d1d1d1;
}

.status_camera_icon {
  color: #333;
}