.wrapper {
  width: 420px;
  background: rgba(255, 255, 255, 0.856);
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  color: var(--primaryColor);
}

.wrapper .register_link {
  text-align: center;
  font-size: 14.5px;
  margin: 20px 0 15px;
  font-weight: bold;
}

.register_link {
  color: var(--colorfour);
  text-decoration: none;
  cursor: pointer;
}

.register_link:hover p {
  color: var(--primaryColor);
}